@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-accent: #1c96fd;
}

.REACT-CALENDAR {
  font-size: 0.85rem;
  width: 100% !important;
  border: 0 !important;
}
.REACT-CALENDAR .react-calendar__tile {
  padding: 0 !important;
  min-width: 1.8rem !important;
  height: 1.8rem !important;
  max-width: 1.8rem !important;
  max-height: 1.8rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.REACT-CALENDAR .react-calendar__tile--active {
  background: #2563eb !important;
  color: #fff !important;
  border-radius: 9999px !important;
}
.REACT-CALENDAR .react-calendar__tile--now {
  background: none !important;
  color: #60a5fa !important;
  border-radius: 9999px !important;
  border: 1.5px solid #bae6fd !important;
}
.REACT-CALENDAR__navigation button {
  min-width: 1.5rem !important;
  height: 1.5rem !important;
  font-size: 1rem !important;
  padding: 0 !important;
}
.REACT-CALENDAR .react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}
